* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "lego-font";
  src: url(./Norse-Bold.otf);
}

body {
  overflow: hidden;
  display: flex;
}

.side-left {
  background-image: url("./halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 42%;
  height: 99.99vh;
  padding-top: 200px;
}

.lego-background {
  background-color: rgba(41, 3, 3, 0.5);
  display: flex;
  justify-content: center;
  padding: 15px;
}
.right-to-lego {
  font-size: 5rem;
  margin: auto 0;
  color: white;
  font-family: "lego-font";
}

img {
  width: 6rem;
}

.side-right {
  width: 64%;
  padding: 1px;
  background-color: rgb(247, 247, 247);
}

.header-text {
  font-size: 1.3rem;
  font-weight: 550;
  font-family: sans-serif;
  width: auto;
  padding: 100px 0px 50px;
}

form {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  height: fit-content;
  background-color: white;
  border-radius: 5px;
  padding: 20px 0px 40px 50px;
  font-family: sans-serif;
}

.form {
  gap: 70px;
  margin-top: 20px;
  display: flex;
}

.left > div:not(:first-child) {
  margin-top: 20px;
}
.right > div:not(:first-child) {
  margin-top: 20px;
}

input {
  margin-top: 5px;
  width: 240px;
  border: lightgrey 1px solid;
  height: 100px;
  border-radius: 5px;
  background-color: #e5e7eb2c;
  padding-left: 10px;
}

@media (max-width: 1000px) {
  .form {
    gap: 6%;
  }
  input {
    width: 200px;
  }
}

h2 {
  width: 500px;
  flex: 0;
  width: fit-content;
}

.label {
  height: 50px;
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  flex: 0;
}

.pass-error {
  color: rgb(255, 0, 0);
  font-size: 0.8rem;
  margin: 0;
  padding-top: 3px;
  width: fit-content;
  height: 5px;
  flex: 0;
}

input:focus {
  outline: none;
  border: blue 1px solid;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.716);
}

.error {
  border: 1px red solid;
}

button {
  border: none;
  padding: 10px 35px;
  margin-top: 30px;
  margin-left: 50px;
  background-color: rgba(165, 42, 42, 0.904);
  color: white;
  border-radius: 5px;
  font-weight: 600;
}

button:hover {
  background-color: rgb(165, 42, 42);
}

button:active {
  background-color: black;
}

p {
  margin-left: 50px;
}

a {
  color: rgba(165, 42, 42, 0.904);
  text-decoration: none;
}
